.botaodeletnao{
    border-color: #ffff !important;
    background-color: #004aad !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}

.botaodeletsim{
    border-color: #ffff !important;
    background-color: #FF0000 !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}

.textdelettema{
    color:#004aad !important;
    font-weight: bold !important;
}