.fundocaixa{
    background-color: #ffff !important; 
}

.cadastrotema{
    color: #004aad !important;
}

.btFinalizar{
    border-color: #ffff !important;
    background-color: #004aad !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}