.textosLogin{
    font-weight: bold !important;
    color: #004aad !important;
}

.textcadastrese{
    font-weight: bold !important;
    color: #004aad !important;
}

.imagem{
    background-image: url('../../../public/Imagens/imgLogin.gif');
    background-repeat: no-repeat; 
    width: 100vh;
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;
}

.botaoLogin{
    border-color: #ffff !important;
    background-color: #004aad !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}
.fundo{
   background-color: #d9f2f7 !important;  
}